/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/

/*.HeaderImage{


  background-image: url("./components/images/bg.png");
  background-repeat: no-repeat;

  background-size: 100% auto;
  padding: 0;
  margin:0;
  

}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.HeaderImage {
  background-image: url("./components/images/bg.png");
  width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh; /* Set the initial height to 100% of the viewport height */
}
body{
  margin: 0px;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint value as needed */
  .HeaderImage {
    height: auto; /* Reset the height to auto on smaller screens */
  }
}

